<div class="row">
  <div class="col-12 col-lg-10 col-xl-8 mx-auto line">
    <div class="card">
      <div class="card-body my-3 ">
        
        <h2 class="card-title text-center mb-5">新增餐廳資料</h5>
        <form action="/addnew" method="POST" id="addnew-form" onsubmit="return checkValidity()" novalidate >

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖名稱</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="店面名稱" name="name" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖英文名稱</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="店面英文名稱" name="name_en" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">餐點類別</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="類別" name="category" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖照片</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="照片網址" name="image" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖地址</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="餐廳地址" name="location" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖電話</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="餐廳電話" name="phone" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖地圖</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="餐廳地圖" name="google_map" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖評分</label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="餐廳評分" name="rating" required>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="row my-4">
            <label for="numbers" class="col-md-2 col-form-label text-center">店舖評論</label>
            <div class="col-md-10">
              <textarea style="height:150px;"class="form-control" placeholder="餐廳詳述" name="description" required></textarea>
            </div>
            <div class="valid-feedback">OK!</div>
            <div class="invalid-feedback">此欄位為必填！</div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="btn btn-primary  mx-2" type="submit" id="addnew-submit-button" >儲存</button>
            <a href="/" class="btn btn-light mx-2" role="button">放棄新增</a>
          </div>
        </form>
        <script type="text/javascript">
          const form = document.querySelector('#addnew-form')
          const submitButton = document.querySelector("#addnew-submit-button")
          submitButton.addEventListener('click',  function onButtonClicked(event) {
            form.classList.add('was-validated')
          })
        </script>
      </div>        
    </div>
  </div>
</div>
